.font-bold {
    font-weight: bold;
}

.font-color-not-main {
    font-weight: normal;
    color: #666;
}

.flex-level-center {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}
